<header class="header">

    <div class="header-container">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo/logo.png" alt="RIGMA">
            </a>
        </div>


        <!-- Navigation -->
        <nav class="nav">

            <ul>


                <!-- Products -->
                <li class="dropdown">

                    <a href="#">
                        PRODUCTS
                        <span class="arrow">▼</span>
                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a href="products/hoist/index.html">
                                HOIST
                            </a>
                        </li>

                        <li>
                            <a href="products/flight-case/index.html">
                                FLIGHT CASE
                            </a>
                        </li>

                        <li>
                            <a href="products/controller/index.html">
                                CONTROLLER
                            </a>
                        </li>

                        <li>
                            <a href="products/accessories/index.html">
                                ACCESSORIES
                            </a>
                        </li>

                    </ul>

                </li>



                <li>
                    <a href="#">PROJECTS</a>
                </li>


                <li>
                    <a href="#">ABOUT</a>
                </li>


                <li>
                    <a href="#">CONTACT</a>
                </li>


                <li>
                    <a href="#">LOGIN</a>
                </li>



                <!-- Language -->

                <li class="dropdown language">

                    <a href="#">
                        EN
                        <span class="arrow">▼</span>
                    </a>


                    <ul class="dropdown-menu language-menu">

                        <li>
                            <a href="#">
                                English
                            </a>
                        </li>


                        <li>
                            <a href="#">
                                Español
                            </a>
                        </li>

                    </ul>

                </li>


            </ul>

        </nav>


    </div>

</header>