<section class="hero">

    <div class="hero-container">

        <!-- Left Content -->
        <div class="hero-text">

            <h1>
                PROTECTING<br>
                <span>EVERY</span><br>
                PERFORMANCE
            </h1>


            <p>
                Advanced stage lifting solutions<br>
                engineered for safety, precision and<br>
                reliability.
            </p>


            <a href="products/index.html" class="hero-button">
                EXPLORE PRODUCTS
            </a>


        </div>



        <!-- Right Product Image -->

        <div class="hero-image">

            <img src="assets/images/products/hoist/pro/d8-plus/1000kg/pro-d8-plus-1000kg-main.jpg"
alt="RIGMA PRO D8+ 1000kg">

        </div>


    </div>


</section>

