<section class="insights">


<div class="insights-container">


<div class="insights-header">

<div class="insights-label">
RIGMA INSIGHTS
</div>


<h2>
KNOWLEDGE BEYOND<br>
EQUIPMENT.
</h2>


<p>
Professional knowledge,
technology and applications
from stage lifting industry.
</p>


</div>



<div class="insights-list">


<div class="insight-item">

<div class="insight-number">
01
</div>


<div>

<h3>
SAFETY
</h3>


<h4>
Stage Hoist Safety Guide
</h4>


<p>
Understanding D8+ safety principles,
braking systems and inspection.
</p>

</div>

</div>



<div class="insight-item">

<div class="insight-number">
02
</div>


<div>

<h3>
ENGINEERING
</h3>


<h4>
Inside Hoist Engineering
</h4>


<p>
Precision design behind smooth
and reliable lifting performance.
</p>

</div>

</div>




<div class="insight-item">

<div class="insight-number">
03
</div>


<div>

<h3>
APPLICATIONS
</h3>


<h4>
Stage Solutions Worldwide
</h4>


<p>
Professional lifting systems
for concerts and entertainment.
</p>

</div>

</div>



</div>



</div>

</section>