<section class="product-collection">

    <h2>
        RIGMA HOIST COLLECTION
    </h2>


    <div class="product-grid">


        <!-- LITE -->

        <div class="product-card lite-card">

            <div class="product-content">

                <span class="series">
                    ENTRY LEVEL SERIES
                </span>

                <h3>
                    RIGMA LITE
                </h3>


                <p>
                    Practical & Cost-Effective
                </p>


                <span class="feature">
                    Basic Stage Hoist
                </span>


                <a href="#">
                    VIEW DETAILS →
                </a>

            </div>

        </div>



        <!-- PRO -->

        <div class="product-card pro-card">

            <div class="product-content">


                <span class="series">
                    PROFESSIONAL SERIES
                </span>


                <h3>
                    RIGMA PRO
                </h3>


                <p>
                    Professional & Reliable
                </p>


                <span class="feature">
                    D8 / D8+ Stage Hoist
                    <br>
                    250kg - 2000kg
                </span>


                <a href="#">
                    VIEW DETAILS →
                </a>


            </div>

        </div>




        <!-- INFINITY -->


        <div class="product-card infinity-card">


            <div class="product-content">


                <span class="series">
                    ADVANCED SERIES
                </span>


                <h3>
                    RIGMA INFINITY
                </h3>


                <p>
                    Advanced Professional
                </p>


                <span class="feature">
                    D8+ Stage Hoist
                    <br>
                    500kg - 1000kg
                </span>


                <a href="#">
                    VIEW DETAILS →
                </a>


            </div>


        </div>





        <!-- C1 -->


        <div class="product-card c1-card">


            <div class="product-content">


                <span class="series">
                    SMART CONTROL SERIES
                </span>


                <h3>
                    RIGMA C1
                </h3>


                <p>
                    Programmable Smart Hoist
                </p>


                <span class="feature">
                    Intelligent Motion Control
                    <br>
                    500kg - 1000kg
                </span>


                <a href="#">
                    VIEW DETAILS →
                </a>


            </div>


        </div>


    </div>


</section>