<section class="video-section">

    <div class="video-container">
        <div class="section-label">
            PROVEN IN REAL APPLICATIONS
</div>

        <h2>
            VIDEO CENTER
        </h2>

        <p class="video-subtitle">
            See RIGMA in action.
        </p>


        <div class="video-box">

            <video controls>
                <source src="assets/videos/company-video/company-video.mp4" type="video/mp4">
            </video>

        </div>


    </div>

</section>